<div class="mainContainer">
    <a class="btn btn-primary" href="#" [routerLink]="[ '/season', evnt.seasonID ]">Back to Season</a>
    <h1>{{evnt.name}}</h1>
    <div class="container-fluid">
        <div class="row">
            <!-- player bets -->
            <div class="col-sm-8">
                <div *ngFor="let b of allBetsForEvent | groupBy:'playerName'">
                    <h4>{{b.key}}</h4>
                    <bet-display [bets]="b.value" [highlightedMatchId]="highlightedMatchId"></bet-display>
                </div>
            </div>

            <!-- matches -->
            <div class="col-sm-4">
                <h3>Matches</h3>
                <table class="table table-bordered table-sm">
                    <tbody>
                        <tr *ngFor="let m of matches">
                            <td style="vertical-align: middle;">
                                <fa-icon (click)="setHighlightedMatch(m)" [icon]="faStar" [style.color]="m.id === highlightedMatchId ? 'gold' : 'darkgrey'"></fa-icon>
                            </td>
                            <td>
                                <div>{{m.fighter1Name}}</div>
                                <button class="fightResult btn {{getTextForResult(m, m.fighter1ID)}}" (click)="resolveWinner(m, m.fighter1ID, m.fighter1Name)" [disabled]="isFightResolved(m)">{{getTextForResult(m, m.fighter1ID)}}</button>
                                <span style="font-size: small; margin-left: 10px;">{{m.fighter1Odds | number:'1.2-2'}}</span>
                            </td>
                            <td>
                                <div>{{m.fighter2Name}}</div>
                                <button class="fightResult btn {{getTextForResult(m, m.fighter2ID)}}" (click)="resolveWinner(m, m.fighter2ID, m.fighter2Name)" [disabled]="isFightResolved(m)">{{getTextForResult(m, m.fighter2ID)}}</button>
                                <span style="font-size: small; margin-left: 10px;">{{m.fighter2Odds | number:'1.2-2'}}</span>
                            </td>
                            <td style="vertical-align: middle;">
                                <button class="fightResult btn TBD" (click)="resolveDraw(m)" [disabled]="isFightResolved(m)">Draw</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>