.fightResult {
    border-radius: 3px;
    font-size: 10px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    padding: 2px;
    text-transform: uppercase;
    min-width: 50px;
    display: inline-block;
    margin: 3px 0;
    cursor: pointer;
}

.Win {
    background-color: #090;
    color: #FFF;
}

.Lose {
    background-color: #C00;
    color: #FFF;
}

.TBD {
    background-color: #CCC;
    color: #000;
}

.Push {
    background-color: #d5c614;
    color: #FFF;
}
