<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<html>
<head>
    <title>Seasons</title>
</head>
<body>
    <div id="app">
        <h1>Welcome to NetBet</h1>
        <section v-if="errored">
            <p>Errror getting Seasons data</p>
        </section>

        <section v-else>
            <div v-if="loading">Loading...</div>

            <div v-else>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Season Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="s in seasons">
                            <td>{{ s.name }}</td>
                            <td><router-link :to="`/season/${s.id}`">Go</router-link></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
        
        <!-- the route template is rendered here
               need to extract season selector into a component  -->
        <router-view></router-view>
    </div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    const SeasonsCmpnt = { template: '<div>Season {{ $route.params.id }}</div>' }
    
    const routes = [
        { path: '/season/:id', component: SeasonsCmpnt },
    ]
    var router = new VueRouter({ routes: routes });

    new Vue({
        router: router,
        el: '#app',
        data: {
            seasons: null,
            loading: true,
            errored: null
        },
        methods: { },
        mounted() {
            axios
                .get('api/season/get')
                .then(response => (this.seasons = response.data))
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
                .finally(() => this.loading = false)
        }
    })
</script>