<div class="mainContainer">
    <a class="btn btn-primary" href="#" [routerLink]="[ '/season', seasonID ]">Back to Season</a>
    <h3>Available Events</h3>
    <form (ngSubmit)="onSubmit()">
        <div style="margin-bottom: 25px;">
            <select [(ngModel)]="selectedEvent"
                    name="eventSelector">
                <option *ngFor="let e of events" [(ngValue)]="e">{{e.event.name}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>