<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th width="40%">Name</th>
            <th width="15%">Stake</th>
            <th width="15%">Odds</th>
            <th width="15%">To Win</th>
            <th width="10%">Result</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of displayBets" style="background-color:pale" [style.background-color]="getFullBetBgColor(b)">
            <td width="40%">
                <div *ngFor="let f of b.fightersAndResults">
                    <small>{{f.fighterName}}</small>
                    <fa-icon *ngIf="f.result === 'WIN'" [icon]="faCheck" style="color: green;" transform="right-2 up-2"></fa-icon>
                    <fa-icon *ngIf="f.result === 'LOSE'" [icon]="faTimes" style="color: red;" transform="right-2"></fa-icon>
                    <fa-icon *ngIf="f.result === 'PUSH'" [icon]="faHand" style="color: gold;" transform="right-2"></fa-icon>
                </div>
            </td>
            <td width="15%" class="stakeOddsCell">{{b.totalStake | currency}}</td>
            <td width="15%" class="stakeOddsCell">{{b.totalOdds | number:'1.2-2'}}</td>
            <td width="15%" class="stakeOddsCell">{{b.totalToWin | currency}}</td>
            <td width="15%" class="stakeOddsCell" [style.color]="calculateResult(b) < 0 ? 'red' : 'black'">{{calculateResult(b) | currency}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total</strong></td>
            <td class="stakeOddsCell" [style.color]="calculateAllResults() < 0 ? 'red' : 'black'">{{calculateAllResults() | currency}}</td>
        </tr>
    </tbody>
</table>